*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    background-color: white;
    width: 100%;
    z-index: 1000;
}
.dangnhap{
    margin-right: 20px;
}
.languages{
    display: flex;
}
.languages span:hover{
    color: green;
    cursor: pointer;
}
.paragraph{
    padding: 100px;
    padding-top: 60px !important;
}
.paragraph h2{
    margin-bottom: 60px;
    color: #0C713D;
}
.paragraph p{
    margin-bottom: 30px;
}
section{
    position: relative;
    height: calc(100vh - 3rem);
    width: 100%;
    background: url('bg.jpg') no-repeat top center / cover;
    overflow: hidden;
}
.bottom-item{
    margin-top: 95px;
}
.item1{
    display: flex;
    padding-bottom: 150px;
    padding-right: 150px;
}
.bottom-item-container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(56, 165, 238, 0.5);
}

.container{
    max-width: 80rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.Hang{
    margin-left: 25px;
    border: 2px solid green;
    padding: 10px;
    border-radius: 12px;
    color: green;
    display: flex;
}
.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-container img{
    margin-right: 300px;
}
.nav-btn{
    flex: 3;
    display: flex;
}

.nav-links{
    flex: 2;
}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo{
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span{
    font-weight: 300;
}

.btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid black;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
    background-color: black;
    color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: black;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
    margin-left: 15px;
}

.nav-link > a{
    line-height: 3rem;
    color: black;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    font-size: 15px;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 15rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    z-index: 10;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: white;
    color: black;
    padding: 2rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link > a:hover{
    background-color: green;
    color: white;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: grey;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: green;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-start;
}
.btn-primary1{
    color: #0C713D;
    background-color: #fff;
    border-color: #0C713D;
}
.btn1 {
    font-family: 'Muli', sans-serif;
    transition: all 0.2s linear;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    color: green;
    font-size: 18px;
    padding: 7px 12px;
    border: 2px solid #0C713D ;
    border-radius: 8px;
}
.btn1:hover{
    background-color: #0C713D;
    color:white;
}
.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: black;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: black;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}
.line-separator{
    height: 17px;
    border-left: 3px solid grey;
    margin: 0 5px;
}
#check{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}



/* Images class */
.img1{
    width: 80px;
}


.IMG{
	width: 100%;;
	height:430px;
	
}
.mySlides {display: none}
.slideshow-container2 img {vertical-align: middle;}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  max-height:400px;
}

.slideshow-container2 {
  max-width: 100%;
  margin: 0 auto;
  max-height:400px;
  position: relative;
  z-index:0;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition:  0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  
  z-index:1;  
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
 
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  z-index: 2;
  
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.home-map{
    background-color: #0C713D;
  }
  .home-map{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid1 {
    width: 50%;
    height: 611px;
    padding-top: 65px;
    padding-left: 60px;
    color: white;
}
.drop-list{
    height: 100px;
}
.container-fluid1 h2{
    margin-bottom: 15px;
    font-size: 40px;
}
.dropdown1 {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 254px;
    height: 40px;
  }
  
  .dropdown-text {
    cursor: pointer;
    position: absolute;
    text-indent: 10px;
    line-height: 32px;
    background: none;
    border: 2px solid white;
    border-radius: 8px;
    width: 100%;
  }
  
  .dropdown-text:after {
    position: absolute;
    right: 6px;
    top: 15px;
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #555 transparent transparent transparent;
  }
  
  .dropdown-text{
    color:white;
  }
  .dropdown-content a {
    color:black;
  }
  
  .dropdown-toggle {
    font-size: 0;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    border: none;
    padding: 0;
    margin: 0 0 0 1px;
    background: transparent;
    text-indent: -10px;
    height: 34px;
    width: 100%;
  }
  
  .dropdown-toggle:focus {
    outline: 0;
  }
  
  .dropdown-content {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    list-style-type: none;
    position: absolute;
    top: 32px;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility:hidden;
    border-radius: 3px;
    text-indent: 10px;
    line-height: 32px;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .dropdown-content a {
    display: block;
  }
  
  .dropdown-content a:hover {
    background: #e8e8e8;
  }
  
  
  .dropdown-toggle:hover ~ .dropdown-text,
  .dropdown-toggle:focus ~ .dropdown-text {
    border: 3px solid red;
  }
  
  .dropdown-toggle:focus ~ .dropdown-text {
    box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);
    z-index: 2;
  }
  
  .dropdown-toggle:focus ~ .dropdown-text:after {
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #555 transparent;
  }
  
  .dropdown-content:hover,
  .dropdown-toggle:focus ~ .dropdown-content {
    opacity: 1;
    visibility:visible;
    top: 42px;
  }
footer{
    margin-top: 25px;
}
.map-list{
    margin-top: 20px;
    max-height: 330px;
    padding-right: 10px;
    overflow: auto;
    margin-bottom: 10px;
    list-style: none;
}
.ng-binding{
    display: block;
    float: left;
    padding: 10px 10px 10px 35px;
    background: url(../images/icon_store.svg) no-repeat 0 20px;
    font-size: 18px;
    position: relative;
    width: calc(70% - 35px);
    color: #fff;
}
.stores{
    position: relative;
    margin-bottom: 55px;
}
.btn2{
    
        margin-top: 10px;
        width: 28%;
        height: 40px;
        text-transform: none;
        color: #fff;
        background: none !important;
        border: 1px solid #fff !important;
        border-radius: 5px;
}
.btn2:hover{
    border: 1px solid red !important;
    cursor: pointer;
}
.f-bot {
    padding: 20px 0;
    color: #171717;
}
.f-container{
    width: 1300px;
    margin: auto;
    padding: 0 15px;
}
.row{
    height: 200px;
}
.left{
    width: 50%;
    line-height: 1.2;
    float: left;
}
.middle{
    width: 33.3%;
    float: left;
    padding-left: 35px;
}
.form-control{
    border-color: #0C713D;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    color: black;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #0C713D;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    float: left;
    margin-right: 5px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .right{
    width: 16%;
    float: left;
  }
.copyright {
    font-size: 0.7em;
    line-height: 1.6;
    padding: 2px 15px 3px;
    color: #8d8d8d;
}
.black {
    background-color: #010101;
    color: #fff;
}
.text-center {
    text-align: center;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
